/* External fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

/* Global css values */
:root {
  --bgColor: #0a0a0a;
  --ContrastColor2: #ffffff;
  --ContrastColor: #00b800;
  --HoverColor: #00ff00;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--ContrastColor2);
}

b {
  color: red;
}

/* Nav button */
.nav-btn {
  right: 10px;
  top: 10px;
  display: grid;
  place-items: center;
  position: absolute;

  background-color: var(--bgColor);
  border: 2px var(--ContrastColor2) solid;
  border-radius: 50px;

  height: 50px;
  width: 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav-btn:before {
  display: grid;
  justify-content: center;
  width: 100px;
  align-self: center;
  font-size: 1rem;
  position: absolute;
  visibility: hidden;
  color: var(--bgColor);
  z-index: -1;
  transition-duration: 0.5s;
}

.nav-btn:hover {
  color: var(--ContrastColor2);
  background-color: var(--bgColor);
  border-color: var(--ContrastColor2);
}

.nav-btn:hover::before {
  transform: translateX(-100%);
  overflow: visible;
  visibility: visible;
  color: var(--hoverColor);
}

.bt1::before {
  content: "New Password";
}
.bt2::before {
  content: "Learn more";
}

html,
body {
  background-color: var(--bgColor);
  color: var(--ContrastColor2);
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  font-size: 1.3rem;
  color: white;
  font-family: "Roboto Mono", monospace;
  width: 40%;
  margin: 30px auto;
  display: block;
  padding: 10px 5px;
  background-color: transparent;
  border: 2px solid #00b800;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(0, 184, 0, 0.6);
  transition-duration: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: translateY(3px);
  transform: translateX(3px);
  box-shadow: none;
  color: var(--bgColor);
  border-color: var(--bgColor);
  background-color: var(--HoverColor);
}

p {
  margin: 0;
}

h1 {
  color: var(--ContrastColor);
  text-align: center;
}

hr {
  border: 1px solid #00b800;
}

.grid {
  margin: auto;
  border: 2px solid #00b800;
  box-shadow: 7px 7px rgba(0, 184, 0, 0.6);
  border-radius: 20px;
  width: 600px;
  height: 570px;
  padding: 0 30px 10px 30px;
  line-height: 2rem;
}

.advices {
  margin-top: 10px;
  border-top: 2px solid white;
  height: 400px;
  overflow-y: scroll;
}

#display-pw {
  color: var(--ContrastColor2);
  /* letter-spacing: 1px; */
  height: 100%;
  width: 90%;
  outline: none;
  resize: none;
  background-color: transparent;
  border: 2px solid #00b800;
  border-radius: 20px;
  padding: 10px 5px 10px 15px;
}

.clipboard i {
  cursor: pointer;
  position: relative;
  right: 40px;
}

.clipboard i:active {
  color: rgb(100, 100, 100);
}

.clipboard {
  width: 90%;
  margin: 0 auto 0px auto;
}

.good-pw {
  /* color: green; */
  filter: brightness(100%);
}

.bad-pw {
  /* color: red; */
  filter: brightness(50%);
}

@media screen and (max-width: 650px) {

}